* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

Distware.postman_collection.json export-ignore
Dockerfile export-ignore
package.json export-ignore
vite.config.js export-ignore
yarn.lock export-ignore
.docker/ export-ignore
.env* export-ignore
.git* export-ignore
/*.md export-ignore
/*.yml export-ignore
