$primary: #0076ba;
$secondary: #ff9300;

$success: #53d769;
$info: #5fc9f8;
$warning: #fecb2e;
$danger: #d40000;

$light: #f6f6f5;
$dark: #464646;

$border-radius-sm: 5px;
$border-radius: 10px;
$border-radius-lg: 15px;
$border-radius-xl: 20px;
$border-radius-xxl: 25px;

$font-family-sans-serif: 'Roboto', sans-serif;

$line-height-base: 1.5;

$navbar-light-toggler-border-color: none;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

$s2bs5-clear-icon: $btn-close-bg;

$s2bs5-padding-x: calc($input-padding-x / 2);
$s2bs5-padding-y: $s2bs5-padding-x;

$s2bs5-multi-item-padding-x: $badge-padding-x;
$s2bs5-multi-item-padding-y: calc($badge-padding-x / 2);
